{% extends 'core/base_public.html' %}
{% load static %}

{% block extra_css %}
<style>
    .logo-header {
        background-color: var(--basal-purple);
        padding: 2rem;
        border-radius: 0.375rem 0.375rem 0 0;
        margin: -1px -1px 0 -1px;
    }
    .logo-header img {
        max-width: 200px;
        height: auto;
    }
</style>
{% block signup_extra_css %}{% endblock %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-7">
            <div class="card shadow">
                <div class="logo-header text-center">
                    <img src="{% static 'img/basal-logo-white.png' %}" alt="Basal">
                </div>
                <div class="card-body p-4">
                    {% block signup_content %}{% endblock %}
                </div>
            </div>
            {% block signup_footer %}
            <p class="text-center mt-3">
                <a href="{% url 'login' %}" class="text-muted">Medarbejder login</a>
            </p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% block signup_extra_js %}{% endblock %}
{% endblock %}
